<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href='css/normalize.css' rel='stylesheet'>
    <link href='css/styles.css' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <script src="https://kit.fontawesome.com/7f9ed88a87.js" crossorigin="anonymous"></script>

</head>
    <body>
        <header class="main-header">    
            <div class="main-header-top">
                <img src="./imagenes/logo-mercado-liebre.svg" alt="logo"  width="200">
                <h2 class="espacio-margen">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                 Comprá en cuotas y sin tarjeta de crédito
                </h2>
            
                <div class="buscador">
                    <div class="input">Buscar productos, marcas</div>  
                <div class="lupa"><i class="fa-solid fa-magnifying-glass"></i></div>    
                     </div>
             </div>
             <nav class="main-header-bottom">
                 <ul>
                    <a href=#> <li>Ofertas</li> </a>
                    <a href=#>  <li>Tiendas Oficiales</li></a>
                     <a href=#>  <li>Vender</li></a>
                    <a href=#> <li>Ayuda</li></a> 
                 </ul>
                 <ul>
                    <a href=#> <li>Creá tu cuenta <i class="fa-solid fa-address-card"></i></li></a>
                    <a href=#>  <li>Ingresá <i class="fa-solid fa-right-to-bracket"></i></li></a>
                    <a href=#><li>Mis compras <i class="fa-solid fa-basket-shopping"></i></li></a>
                
                </ul>
             </nav>   
             <div class="burger-menu">
                <i class="fas fa-bars"></i>
                 </div>
                   </header>
                   
             <section>
                      <img class="banner-img" src="./imagenes/img-home-banner.jpg"  width="350">
            </section>
    <main> 
             <section> 
                    <h3>Basado en tu ultima vista</h3>
                    <article>
                        
                         <img src='./imagenes/img-cafetera-moulinex.jpg' width="100px" height="100px">
                    <div class="caja">
                        <div class="logo">
                            <i class="fas fa-truck"></i>
                        </div>
                         <p class="precios">$6.770</p>
                         <p class="descuento"> 40% OFF</p>
                         <h4 class="desc-pro">Cafetera Moulinex</h4>
                    </div>
                    </article>
                    <article>
                        
                        <img src='./imagenes/img-macbook-pro-2019.jpg'  width="100px"  height="100px">
                    <div class="caja">
                        <div class="logo">
                            <i class="fas fa-truck"></i>
                        </div>
                         <p class="precios">$230.000</p>
                         <p class="descuento"></p> 20% off</p>
                         <h4 class="desc-pro">MacBook Pro 2019</h4>       
                    </div>
                    </article>
                     <article>
                        
                        <img src='./imagenes/img-samsung-galaxy-s10.jpg' width="100px"  height="100px">
                    <div class="caja">
                        <div class="logo">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="precios">$70.500</p>
                        <p class="descuento"> 10% off </p>
                        <h4 class="desc-pro">Samsung Galaxy S10</h4>
                    </div>
                    </article>
                    <article>
                        
                        <img src='./imagenes/img-tv-samsung-smart.jpg' width="100px"  height="100px">
                    <div class="caja">
                        <div class="logo">
                            <i class="fas fa-truck"></i>
                        </div>
                        <p class="precios">$23.200</p>
                        <p class="descuento"> 5% off </p>
                        <h4 class="desc-pro">SmartTv Samsung 43"</h4>
                    </div>
                 
                    </article>
         </section>
         <section>
        
                 <h3>Ofertas</h3>
                  <article>
                 <img src='./imagenes/img-cafetera-moulinex.jpg' width="100px" height="100px">

                 <p class="precios">$6.770</p>
                 <p class="descuento">40% OFF</p>
                 <h4>Cafetera Moulinex</h4>
                                 
                </article>
                <article>
                 <img src='./imagenes/img-macbook-pro-2019.jpg'  width="100px"  height="100px">

                 <p class="precios">$230.000</p>
                 <p class="descuento">20% off</p>
                 <h4>MacBook Pro 2019</h4> 
                </article>
                <article>
                
                 <img src='./imagenes/img-samsung-galaxy-s10.jpg' width="100px"  height="100px">

                 <p class="precios">$70.500</p>
                 <p class="descuento"> 10% off </p>
                 <h4>Samsung Galaxy S10</h4>
                </article>
                <article>
                 
                   <img src='./imagenes/img-tv-samsung-smart.jpg' width="100px"  height="100px">

                   <p class="precios">$23.200</p>
                   <p class="descuento"> 5% off </p>
                   <h4>SmartTv Samsung 43"</h4>
                </article>
        </section>  
    </main>
    <footer> 
                <section> 
            
                    <div>
                        <i class="fa-solid fa-credit-card"></i>
                    </div>
            <h3>Paga con tarjeta o en efectivo</h3>
               <p class="descripcion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
                <div>
                    <i class="fa-solid fa-gift"></i>
                </div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p class="descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
                <div>
                    <i class="fa-solid fa-user-shield"></i> 
                </div>
            <h3>Seguridad, de principio a fin</h3>
            <p class="descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
             
    </section>
    </footer>
</body>
</html>